.mob-nav__full-menu {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
}

.mob-nav {
    /* position: absolute; */
    position: sticky;
    /* left: 0; */
    top: 0;
    /* width: 100%; */
    /* background-color: #fff; */
    z-index: 99;
}

.mob-nav__menu-btn {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease all .24s;
}

.mob-nav__menu-btn-line {
    width: 2rem;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color__dark);
    margin: 3px 0;
}

.mob-nav__logo:hover {opacity: .6;}

.mob-nav__logo svg {
    max-width: 11.75rem;
}

.mob-nav__messenger {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
}

.mob-nav__bar {
    width: 100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 0 1rem #00000008;
}

.mob-nav__bar-border {
    position: absolute;
    width: calc(100% - 2.5rem);
    left: 1.25rem;
    height: 1px;
    background-color: var(--color__border);
}

.mob-nav__messenger-wrap, .descmob-nav__contacts-messenger .mob-nav__messenger-wrap{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    background-color: #67C15F !important;
    background-position: center;
    background-size: 55%;
    position: relative;
}


.mob-nav__messenger-counter {
    font-size: .5rem;
    font-weight: 700;
    width: .75rem;
    height: .75rem;
    background-color: red;
    border-radius: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.mob-nav__menu-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 24%);
    z-index: 1;
    animation-duration: 240ms !important;
}

.mob-nav__menu {
    z-index: 2;
    position: absolute;
    width: 15.5rem;
    background-color: white;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 1.25rem;
    padding-top: .5rem;
    animation-duration: .24s !important;
    -webkit-overflow-scrolling: touch;
    border-radius: 0 1.5rem 1.5rem 0;
}

.mob-nav__close-menu {
    position: absolute;
    left: 16.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color__fill-1);
    z-index: 3;
    top: 1rem;
    border-radius: 100%;
    transition: ease all .24s;
    cursor: pointer;
}

.mob-catalog-menu__close-btn {
    position: relative;
    left: unset;
    top: unset;
}

.mob-nav__close-menu:hover {
    opacity: .7;
}

.mob-nav__menu-item {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    position: relative;
}

.mob-nav__menu-link {
    padding: 1rem 0;
}

.mob-nav__menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    margin-right: 1rem;
    background-size: contain;
    background-position: center;
}

.mob-nav__menu-name {
    color: var(--color__dark);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    transition: ease all .24s;
}

.mob-nav__menu-arrow {
    height: .875rem;
    width: .75rem;
    background-size: contain;
    background-position: center;
    right: 0;
    top: 1.375rem;
    position: absolute;
}

.mob-nav__menu-sub-arrow {
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: white;
    border-radius: 2rem;
    background-position: center;
    background-size: 70%;
    right: 0;
    top: .75rem;
    transition: all ease .24s;
}

.mob-nav__sub-menu-items {
    display: none;
    padding-bottom: 1.5rem;
    padding-left: 2.5rem;
}

.mob-nav__sub-menu-link {
    padding: .37rem 0;
    display: flex;
    color: white;
    font-weight: 600;
}

.mob-nav__menu-item.is-open .mob-nav__menu-sub-arrow {
    transform: rotate(45deg);
}

.mob-nav__menu-item.is-open:after {
    content: "";
    display: block;
    position: absolute;
    left: -1.25rem;
    top: 0;
    width: calc(100% + 2.5rem);
    height: 100%;
    background-color: #1983cf;
    z-index: -1;
    transition: all ease .24s;
}

.mob-nav__menu-btn:hover {
    opacity: .6;
}

.mob-nav__tel-link:hover {
    opacity: .6;
}

.mob-nav__full-menu.is-open {
    display: block;
}

.mob-nav {
    display: none;
}

.mob-nav__tel-link {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 1.75rem;
    background-position: center;
    transition: ease all .24s;
}

.bottom-nav__catalog-menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(100% - 5.25rem);
    left: 0;
    padding: 1.25rem;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
    animation-duration: 160ms !important;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 0 1rem #00000024;
}

.mob-catalog-menu__subsections {
    background-color: var(--color__fill-4);
    display: none;
}

.mob-catalog-menu__section.is-open .section-link__border {
    display: none;
}

.mob-catalog-menu__toggle-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    transition: all ease .24s;
    background-color: var(--color__fill-4-a);
    position: relative;
    cursor: pointer;
}

.section-link:hover {
    color: var(--color__fill-1);
}

.mob-catalog-menu__toggle-btn:hover {
    background-color: var(--color__dark);
}

.mob-catalog-menu__toggle-btn-h-line {
     border-right: 0.1875rem solid #fff;
     height: 1.125rem;
     width: auto;
 }

.mob-catalog-menu__toggle-btn-h-line, .mob-catalog-menu__toggle-btn-v-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mob-catalog-menu__btn-wrap {
    position: relative;
    gap: 1rem;
}

.mob-catalog-menu__toggle-btn-v-line {
     border-bottom: 0.1875rem
     solid #fff !important;
     width: 1.125rem;
     height: auto;
 }

 .mob-catalog-menu__section:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #f2f2f2;
}

.mob-catalog-menu__section.is-open .mob-catalog-menu__toggle-btn {
    transform: rotate(45deg);
    background-color: var(--color__fill-1);
}

.mob-catalog-menu__section.is-open .mob-catalog-menu__toggle-btn:hover {
    opacity: .7;
}

.bottom-nav.is-open-catalog-menu {
    z-index: 100;
}

.bottom-nav.is-open-catalog-menu .bottom-nav__catalog-menu {
    transform: translateY(0);
    pointer-events: all;
}

.bottom-nav {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 1rem #00000024;
    border-radius: 1.5rem 1.5rem 0 0;
}

.mob-nav__close-menu:before, .mob-nav__close-menu:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-left: .1875rem solid #fff;
    height: 1.5rem;
    transition: ease all 24s;
}

.mob-nav__close-menu:before {
    transform: translate(-50%, -50%)rotate(45deg);
}

.mob-nav__close-menu:after {
    transform: translate(-50%, -50%)rotate( -45deg);
}

.bottom-nav__bar {
    width: 100%;
    height: 5rem;
    align-items: center;
}

.bottom-nav__bar-label {
    font-size: .875rem;
    line-height: 1.5rem;
    color: var(--color__dark);
    font-weight: 600;
    transition: ease all .24s;
    margin-top: .25rem;
}

.bottom-nav__bar-icon {
    width: 2.25rem;
    height: 2.25rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: ease all .24s;
}

.bottom-nav__bar-icon.--svg__home {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5702 6.95923C15.5698 6.95886 15.5695 6.9585 15.5691 6.95813L9.04171 0.431641C8.76348 0.15332 8.39357 0 8.0001 0C7.60663 0 7.23672 0.153198 6.95837 0.431519L0.434387 6.95471C0.432189 6.95691 0.429992 6.95923 0.427794 6.96143C-0.143553 7.53601 -0.142576 8.46826 0.430602 9.04138C0.69247 9.30334 1.03833 9.45508 1.40812 9.47095C1.42314 9.47241 1.43827 9.47314 1.45353 9.47314H1.71369V14.2762C1.71369 15.2267 2.48709 16 3.43787 16H5.99159C6.25041 16 6.46039 15.7902 6.46039 15.5312V11.7656C6.46039 11.3319 6.81321 10.9791 7.24697 10.9791H8.75323C9.18699 10.9791 9.53981 11.3319 9.53981 11.7656V15.5312C9.53981 15.7902 9.74967 16 10.0086 16H12.5623C13.5131 16 14.2865 15.2267 14.2865 14.2762V9.47314H14.5277C14.9211 9.47314 15.291 9.31995 15.5695 9.04163C16.1433 8.46753 16.1435 7.53369 15.5702 6.95923Z' fill='%23333333'/%3E%3C/svg%3E");
}

.bottom-nav__bar-icon.--svg__cart {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3H1.89947C3.78417 3 5.41319 4.31562 5.80987 6.1581L8.57995 19.0244C8.97663 20.8669 10.6056 22.1825 12.4903 22.1825H25.997' stroke='%23333333' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M6.14758 8.14783H26.1152C27.4959 8.14783 28.4613 9.51364 28.0006 10.8152L26.2928 15.6399C26.0101 16.4386 25.2547 16.9725 24.4074 16.9725H8.17522' stroke='%23333333' stroke-width='2'/%3E%3Ccircle cx='11.6823' cy='26.3447' r='1.97836' stroke='%23333333' stroke-width='2'/%3E%3Ccircle cx='23.5521' cy='26.3447' r='1.97836' stroke='%23333333' stroke-width='2'/%3E%3C/svg%3E");
}

.bottom-nav__bar-icon.--svg__search {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11.8878' cy='11.8878' r='9.8878' stroke='%23333333' stroke-width='2'/%3E%3Cline x1='20.1557' y1='20.3561' x2='26' y2='26.2004' stroke='%23333333' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.bottom-nav__bar-icon.--svg__catalog {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='31' height='22' viewBox='0 0 31 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.47192 1.91986C7.47192 1.14614 8.09915 0.518921 8.87287 0.518921H29.3163C30.09 0.518921 30.7172 1.14614 30.7172 1.91986C30.7172 2.69358 30.09 3.32081 29.3163 3.32081H8.87287C8.09915 3.32081 7.47192 2.69358 7.47192 1.91986Z' fill='%23333333'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.47192 11.0519C7.47192 10.2782 8.09915 9.651 8.87287 9.651H29.3163C30.09 9.651 30.7172 10.2782 30.7172 11.0519C30.7172 11.8257 30.09 12.4529 29.3163 12.4529H8.87287C8.09915 12.4529 7.47192 11.8257 7.47192 11.0519Z' fill='%23333333'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.47192 20.184C7.47192 19.4103 8.09915 18.7831 8.87287 18.7831H19.354C20.1277 18.7831 20.7549 19.4103 20.7549 20.184C20.7549 20.9577 20.1277 21.585 19.354 21.585H8.87287C8.09915 21.585 7.47192 20.9577 7.47192 20.184Z' fill='%23333333'/%3E%3Cpath d='M3.73585 1.86793C3.73585 2.89955 2.89955 3.73585 1.86793 3.73585C0.836299 3.73585 0 2.89955 0 1.86793C0 0.836299 0.836299 0 1.86793 0C2.89955 0 3.73585 0.836299 3.73585 1.86793Z' fill='%23333333'/%3E%3Cpath d='M3.73585 11C3.73585 12.0316 2.89955 12.8679 1.86793 12.8679C0.836299 12.8679 0 12.0316 0 11C0 9.96838 0.836299 9.13208 1.86793 9.13208C2.89955 9.13208 3.73585 9.96838 3.73585 11Z' fill='%23333333'/%3E%3Cpath d='M3.73585 20.1321C3.73585 21.1637 2.89955 22 1.86793 22C0.836299 22 0 21.1637 0 20.1321C0 19.1005 0.836299 18.2642 1.86793 18.2642C2.89955 18.2642 3.73585 19.1005 3.73585 20.1321Z' fill='%23333333'/%3E%3C/svg%3E");
}

.bottom-nav__bar-link:hover .bottom-nav__bar-icon {
    opacity: .7;
}

.bottom-nav__bar-link:hover .bottom-nav__bar-label {
    color: var(--color__fill-1);
}

.bottom-nav__bar-link .header__personal-count {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color__fill-1);
    border-radius: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: calc(50% + -2.5rem);
}

.bottom-nav__bar-link {
    position: relative;
    width: 20%;
    cursor: pointer;
}

.mob-nav__menu-link:hover .mob-nav__menu-name {
    color: var(--color__fill-1);
}

.section-link.is-active, .mob-catalog-menu__section.is-open .section-link {
    color: var(--color__fill-1);
}

.section-link {
    color: var(--color__dark);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    flex: 1;
}

.mob-catalog-menu__section:not(:first-child) {
    margin-top: 2rem;
}

.mob-catalog-menu__subsections {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.subsections-link:not(:first-child) {
    margin-top: 1rem;
}

.subsections-link {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--color__dark);
}

.subsections-link:hover {
    color: var(--color__fill-1);
}

.open-mob-menu .bottom-nav {
    z-index: 99;
}
.header__personal-count.--hidden {
    display: none !important;
}


.full-menu__sections {
    overflow-y: scroll;
    overflow-x: hidden;
}

.full-menu__sections::-webkit-scrollbar {
    width: .5rem;
    border-radius: 2px;
}

.full-menu__sections::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: 2px;
}


@media (max-width: 991px) {

    .bottom-nav {
        display: flex;
        padding: 0;
    }

    .mob-nav {
        display: block;
    }

}