.product-desc__img-thumb {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-desc__img-thumb img {
    width: auto;
    max-width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.product-desc__title {
    text-align: center;
}

.product-desc__title span {
    opacity: .64;
}

.product-desc__advantages-wrap .advantages-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 4rem;
    padding: 0 !important;
}

.product-desc__advantages-wrap .advantage-item {
    align-items: flex-start;
}

.product-desc__advantages-wrap .advantage-item__icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0;
    background-color: transparent;
}

.product-desc__advantages-wrap .advantage-item__desc {
    text-align: start;
    margin-top: 1.5rem !important;
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 100%;
}

.product-desc__advantages-wrap .advantage-item__desc span {
    color: var(--color__dark);
}

.product-desc__advantages-wrap .content__advantages-devider {
    display: none;
}

.product-desc__advantages-wrap .advantage-item:last-child {
    display: none;
}

.product-desc .tabs__btn {
    font-size: 1.375rem;
    line-height: 2rem;
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    transition: ease all .24s;
    cursor: pointer;
}

.product-desc .tabs__btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .25rem;
    border-radius: .25rem;
    background-color: transparent;
    transition: ease all .24s;
}

.product-desc .tabs__btn.is-active:after {
    background-color: var(--color__fill-1);
}

.product-desc .tabs__btns {
    border-bottom: 1px solid #D9D9D9;
}

.product-desc .tabs__btn.is-active {
    color: var(--color__fill-1);
}

.product-desc .tabs__btn:hover {
    opacity: .8;
}

.product-desc__parameters-items .parameter-item {
    border: 0;
    padding: 1rem 0 0 0;
}

.product-desc__parameters-items {
    grid-gap: 0 5rem;
}

.product-desc__parameters-items .parameter-item__label {
    opacity: .7;
}

.product-desc__parameters-items .parameter-item__value {
    font-weight: 700;
    text-align: left;
}

.product-desc__parameters-items .parameter-item__line {
    border-bottom: 1px dashed #D9D9D9;
    width: 100%;
    flex: 1;
}

.product-desc__parameters-items .parameter-item:first-child, .product-desc__parameters-items .parameter-item:nth-child(2) {
    padding-top: 0;
}

.detail-rating__scale {
    width: 17.625rem;
    height: .25rem;
    border-radius: .25rem;
    position: relative;
    background-color: rgb(51 51 51 / 16%);
}

.reviews-sticky__add-review-btn {
    padding: 0 !important;
    border-radius: 0.75rem !important;
    height: 3.5rem !important;
    background-color: #fff;
    font-weight: 600;
    color: rgb(51 51 51 / 70%);
}

.reviews-sticky {
    background-color: var(--color__fill-4);
    border-radius: 1.5rem;
    padding: 2rem;
    width: 35rem;
    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
}

.detail-rating__scale-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: .25rem;
    background-color: var(--color__fill-1);
}

.product-desc__reviews-sticky {
    position: relative;
}

.product-desc__reviews-sticky .rate:not(:checked)>label {
    font-size: 2rem;
    line-height: 1.5rem;
    width: 1.55rem;
    height: 100%;
}

.product-desc__reviews-sticky .rate {
    height: 1.5rem;
}

.product-desc__reviews-sticky .rate__count {
    text-align: center;
}

.detail-rating {
    margin-top: .25rem;
}

.detail-rating:first-child {
    margin-top: 0;
}

.detail-rating__numb {
    text-align: center;
    width: .5rem;
}

.reviews-sticky__wrap {
    width: 35rem;
    height: 100%;
    position: relative;
}

.reviews-sticky__add-review-btn:hover {
    background-color: rgb(255 255 255 / 70%);
    color: var(--color__dark);
}

.product-desc__reviews-select {
    border: 1px solid #D5D5D5 !important;
    border-radius: 0.75rem !important;
    color: rgb(51 51 51 / 66%) !important;
    background-repeat: no-repeat;
    background-position: center right 1.5rem !important;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23333333' opacity='0.24' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") !important;
    background-size: 1rem 1rem;
    height: 3rem !important;
    padding: 0 1.25rem 0 1rem !important;
}

.product-desc__reviews-select-wrap {
    flex: 1;
}

.product-desc__reviews-head {
    border-bottom: 1px solid #E6E6E6;
}

.review-item {
    padding: 2.5rem 0;
    border-bottom: 1px solid #E6E6E6;
}

.review-item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.review-item__desc-wrap {
    flex: 1;
}

.review-item__ava {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    background-color: var(--color__fill-4);
    overflow: hidden;
}

.review-item__ava-thumb {
    width: 100%;
    height: 100%;
    display: flex;
}

.review-item__ava-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.review-item__ava:empty {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1829 9.98055C10.1829 6.68379 12.8666 4.00006 16.1633 4.00006C19.4601 4.00006 22.1438 6.68379 22.1438 9.98055C22.1438 13.2773 19.4601 15.961 16.1633 15.961C12.8666 15.961 10.1829 13.2773 10.1829 9.98055Z' stroke='%23333333' opacity='0.32' stroke-width='2'/%3E%3Cpath d='M6 28.7978C6 26.4453 6.92682 24.2224 8.60975 22.5384C10.301 20.8461 12.543 19.9141 14.9228 19.9141H17.6682C20.048 19.9141 22.29 20.8461 23.9812 22.5384C25.6642 24.2224 26.591 26.4453 26.591 28.7978' stroke='%23333333' opacity='0.32' stroke-width='2'/%3E%3C/svg%3E");
    background-size: auto 3.75rem;
    background-position: center;
    background-repeat: no-repeat;
}

.review-item__name {
    opacity: .7;
    font-weight: 600;
}

.review-item__rating {
    height: 1.5rem;
}

.review-item__rating .rate:not(:checked)>label {
    width: 1.55rem;
    height: 100%;
    font-size: 2rem;
    line-height: 1.5rem;
}

.review-item__date {
    opacity: .4;
}

.review-item__desc {
    opacity: .8;
}

.review-item__label {
    font-weight: 700;
}

.review-item__quality-wrap .review-item__label {
    color: #009922;
}

.review-item__defect-wrap .review-item__label {
    color: var(--color__fill-1);
}

.review-item__video {
    height: 22rem;
    overflow: hidden;
    border-radius: .5rem;
}

.review-item__video iframe {
    width: 100%;
    height: 100%;
}

.product-desc__reviews-select:hover {
    background-color: #f4f4f4;
}