.idea
/.htaccess
/upload
*.log
*.xml
*.zip
*.tar
*.tar.gz
/*.sql
Thumbs.db
.DS_Store
._.DS_Store

node_modules
bitrix/backup/

bitrix/php_interface/dbconn.php
bitrix/php_interface/constants.php

bitrix/cache
bitrix/managed_cache
bitrix/stack_cache
 
.htaccess
robots.txt
yarn.lock
package.lock.json