.video-reviews {
    border: 1px solid #D9D9D9;
    border-radius: 1.5rem;
    padding: 2rem 3rem 2.5rem 3rem;
    overflow: hidden;
    height: 100%;
}

.video-reviews .type-carusel__desc {
    opacity: .8;
}

.video-reviews .type-carusel__all-btn {
    height: 3rem;
    padding: 0 1.5rem;
}

.video-reviews .type-carusel__head-wrap {
    border-bottom: 1px solid rgb(217 217 217 / 60%);
}

.review-tem {
    background-color: #161616;
    border-radius: .75rem;
    overflow: hidden;
    width: 100%;
    height: 11.875rem;
}

.review-tem iframe {
    width: 100%;
    height: 100%;
}

.video-reviews .swiper-container.--products .swiper-slide-next + div + div + div, .video-reviews .swiper-container.--products .swiper-slide.swiper-slide-prev {
    opacity: 1;
    pointer-events: all;
}

.video-reviews .type-carusel__btn.--products {
    width: 3rem;
    height: 3rem;
}

.video-reviews .type-carusel__btn-icon {
    width: 1.125rem;
    height: 1.125rem;
}

@media (max-width: 991px) {

    .review-tem {
        height: 19.25rem;
    }
    
}

@media (max-width: 640px) {

    .content__video-wrap {
        margin-top: 4rem !important;
    }

    .video-reviews, .video-recall {
        padding: 1rem 1.5rem;
    }

    .content__video-wrap {
        flex-direction: column;
        gap: 1.5rem;
    }
    
}