.catalog-list__filters .filter-item {
    cursor: default;
}

.catalog-list__filters .filter-item {
    background-color: var(--color__dark);
    border-radius: 2.5rem;
    position: relative;
    padding: 0 .75rem 0 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: .25rem;
    transition: ease all .24s;
    cursor: pointer;
}

.catalog-list__filters .filter-item__label {
    color: #fff;
    opacity: 1;
}

.catalog-list__filters .filter-item__clear-btn {
    padding: 0;
    border-radius: 0;
    width: 1.15rem;
    height: 1.15rem;
    background-size: 1.15rem 1.15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='32' height='31' viewBox='0 0 32 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0V15.1777M16 30.3553V15.1777M16 15.1777L31.1777 15.1777L0.82233 15.1777' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
    transform: rotateZ(45deg);
}

.filter-item__clear-btn-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: .625rem;
    border-left: 1px solid rgb(255 255 255 / 50%);
}

.catalog-list__filters .filter-item__clear-btn:hover {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='32' height='31' viewBox='0 0 32 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0V15.1777M16 30.3553V15.1777M16 15.1777L31.1777 15.1777L0.82233 15.1777' stroke='%23E51A1E' stroke-width='2'/%3E%3C/svg%3E");
}

.catalog-list__filters .filter-item__clear-btn:active {
    transform: rotateZ(45deg) scale(.85);
}

.catalog-list__clear-btn {
    padding: 0;
    border-radius: 0;
    height: auto;
    opacity: .5;
}

.catalog-list__clear-btn-icon {
    width: 1rem;
    height: 1rem;
    background-size: 1rem 1rem;
    transform: rotateZ(45deg);
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='32' height='31' viewBox='0 0 32 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0V15.1777M16 30.3553V15.1777M16 15.1777L31.1777 15.1777L0.82233 15.1777' stroke='%23333333' stroke-width='3'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    transition: ease all .24s;
}

.catalog-list__clear-btn:hover {
    color: var(--color__fill-1);
    opacity: 1;
}

.catalog-list__filters .filter-item:last-child {
    margin-right: 0;
}

.catalog-list__clear-btn-label {
    font-weight: 600;
    transition: ease all .24s;
}

.catalog-list__price-tumbler .checkbox__label {
    color: var(--color__dark) !important;
    opacity: .5;
}

.catalog-list__price-tumbler .checkbox__trigger {
    height: 2rem;
    width: 3.5rem;
    background-color: var(--color__fill-4);
    background-size: 1.5rem 1.5rem;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.08);
}

.catalog-list__price-tumbler .tumbler__label {
    font-weight: 600;
    opacity: .5;
}

.catalog-list__price-tumbler .tumbler input:checked + * > .tumbler__label {
    opacity: 1;
}

.catalog-list__recommend-select select {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23808080' opacity='0.6' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") !important;
}

.catalog-list__devider {
    border-left: 1px solid #D9D9D9;
    opacity: .6;
    height: 1.5rem;
}

.catalog-list__view-tumbler {
    background-color: var(--color__fill-4);
    border-radius: 3.5rem;
    padding: .3125rem;
}

.catalog-list__view-tumbler .tumbler .tumbler__trigger:after {
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.08);
}

.catalog-list__view-tumbler .checkbox input:checked + * > .checkbox__trigger {
    background-color: #fff;
    opacity: 1;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.08);
}

.catalog-list__view-tumbler .checkbox__trigger {
    width: 3.5rem;
    height: 2.375rem;
    background-color: transparent;
    border-radius: 2.5rem;
    box-shadow: none;
    background-size: 1.25rem 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .24;
}

.catalog-list__view-tumbler .checkbox__trigger:hover {
    opacity: 1;
}

.product-item__cover-carousel {
    /* height: 20.75rem; */
    position: relative;
    /* background-color: var(--color__fill-4); */
    border-radius: 0 0 1.5rem 1.5rem;
    /* transition: ease all .24s; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item {
    position: relative;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    transition: ease all .24s;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.product-item:hover {
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 2rem 3rem rgb(0 0 0 / 6%);
}

.product-item:hover .product-item__cover-carousel {
    background-color: #fff;
    border-radius: 0;
}

.product-item__cover-img {
    display: flex;
    width: 100%;
    /* margin: auto 0; */
    padding-bottom: 100%;
    position: relative;
}

.product-item__image-link {
    width: 100%;
    height: 100%;
    display: flex;
}

.product-item__cover-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.product-item__sales-tag, .product-item__new-tag {
    background-color: #fff;
    width: fit-content;
    color: #FF8A00;
    border-radius: 1.75rem;
    padding: .25rem .75rem;
    font-weight: 600;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    transition: ease all .24s;
    font-size: .75rem;
    line-height: 1rem;
}

.product-item__new-tag {
    color: #00A3FF;
    top: 3.25rem;
}

.product-item:hover .product-item__sales-tag {
    background: rgba(255, 138, 0, 0.16);
}

.product-item:hover .product-item__new-tag {
    background: rgba(0, 163, 255, 0.16);
}

.product-item__compare-btn, .product-item__favor-btn {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-size: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    padding: 0;
    z-index: 3;
    background-color: #fff;
}

.product-item:hover .product-item__compare-btn, .product-item:hover .product-item__favor-btn {
    opacity: 1;
    pointer-events: all;
}

.product-item__compare-btn {
    right: 5rem;
}

.product-item__favor-btn {
    background-size: 2.25rem;
}

.catalog-list__products-items {
    grid-gap: 2.5rem 1.5rem;
}

.product-item__articul {
    opacity: .5;
}

.product-item__head {
    flex-wrap: nowrap;
}

.product-item__rating .rate__icon {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.5rem;
    line-height: 1.25rem;
    margin-right: .125rem;
}

.product-item__rating .rate__icon:last-child {
    margin-right: 0;
}

.product-item__availability {
    color: #42B42F;
    font-weight: 600;
}

.rate__count {
    color: #B4B4B4;
}

.product-item__name {
    font-size: 1.375rem;
    line-height: 1.875rem;
    font-weight: 600;
    letter-spacing: .02em;
    color: var(--color__dark);
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: calc(1.875rem * 2);
    text-overflow: ellipsis;
    display: -webkit-box;
}

.product-item__name:hover {
    color: var(--color__fill-1);
}

.product-item__demo-label, .product-item__trade-label {
    font-weight: 400;
    opacity: .6;
}

.product-item__trade-icon, .product-item__demo-icon {
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .3;
}

.product-item__price, .product-item__price span {
    font-size: 1.875rem;
    line-height: 2.5rem;
    font-weight: 700;
    font-family: 'DIN-Alternate';
}

.product-item__old-price {
    opacity: .4;
    text-decoration: line-through;
    font-weight: 700;
    font-family: 'DIN-Alternate';
    margin-top: 0.125rem;
}

.swiper-pagination-bullet {
    width: .375rem !important;
    height: .375rem !important;
    margin: 0 .375rem 0 0 !important;
    background-color: rgb(51 51 51 / 20%) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet:last-child {
    margin-right: 0 !important;
}

.swiper-pagination-bullet-active {
    background-color: #1D1D1B !important;
}

.product-item__cover-carousel .type-carusel__pagination {
    position: absolute;
    bottom: 1rem;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.product-item__cover-carousel .type-carusel {
    width: 100%;
    height: 100%;
}

.product-item__cover-carousel .type-carusel__swiper {
    width: 100%;
    height: 100%;
}

.product-item__cover-carousel .type-carusel .swiper-container {
    width: 100%;
    height: 100%;
}

.product-item__cover-carousel .type-carusel__btn.--right {
    right: 1rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L9 9L2 16' stroke='%23000' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    transform: translateY(-50%) translateX(4.5rem);
    pointer-events: none;
}

.product-item__cover-carousel:hover .type-carusel__btn.--left, .product-item__cover-carousel:hover .type-carusel__btn.--right {
    transform: translateY(-50%);
    pointer-events: all;
}

.product-item__cover-carousel .type-carusel__btn.--left {
    left: 1rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='18' viewBox='0 0 12 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 2L3 9L10 16' stroke='%23000' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    transform: translateY(-50%) translateX(-4.5rem);
    pointer-events: none;
}

.product-item__cover-carousel .type-carusel__btn {
    width: 3rem;
    height: 3rem;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    background-size: 1.25rem 1.25rem;
    margin: 0;
    transform: translateY(-50%);
}

.product-item__desc {
    padding: 0 1.5rem 1.875rem 1.5rem;
    height: 100%;
}

.product-item__credit {
    opacity: .3;
}

.product-item__credit-icon {
    width: 1.25rem;
    height: .875rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.product-item__add-btn {
    padding: 0;
    position: absolute;
    bottom: 2rem;
    right: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--color__fill-1);
    border-radius: 50%;
    background-size: 1.875rem;
    background-position: center right 1rem;
    background-repeat: no-repeat;
    opacity: 0;
    pointer-events: none;
    /* box-shadow: 0 .5rem 1.5rem rgb(0 0 0 / 8%); */
}

.product-item__compare-btn:hover, .product-item__favor-btn:hover {
    background-color: var(--color__fill-1);
}

.product-item__favor-btn:hover {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8674 8.74495L15.7447 10.3481L16.6219 8.74498C17.0372 7.98607 17.7266 6.97557 18.7346 6.196L18.1228 5.40496L18.7346 6.196C19.7689 5.39604 20.9224 5 22.1875 5C25.723 5 28.4894 7.87909 28.4894 11.9201C28.4894 14.0514 27.6475 15.8868 26.0202 17.8504C24.3676 19.8445 21.9834 21.8806 18.9963 24.4262L18.9963 24.4262L18.9953 24.4271C18.0148 25.2626 16.9027 26.2104 15.7447 27.2218C14.5875 26.2111 13.4759 25.2638 12.4964 24.429L12.4937 24.4268L12.4937 24.4267C9.50626 21.8809 7.12189 19.8446 5.46922 17.8504C3.84189 15.8868 3 14.0514 3 11.9201C3 7.87909 5.7664 5 9.30187 5C10.567 5 11.7204 5.39604 12.7548 6.196L13.3666 5.40496L12.7548 6.196C13.7628 6.97558 14.4522 7.98604 14.8674 8.74495Z' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}

.product-item__compare-btn:hover {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='10.8' width='5.50982' height='16.2' rx='2' stroke='white' stroke-width='2'/%3E%3Crect x='11.5461' y='1' width='5.50982' height='26' rx='2' stroke='white' stroke-width='2'/%3E%3Crect x='22.092' y='17.8' width='5.50982' height='9.2' rx='2' stroke='white' stroke-width='2'/%3E%3Cpath d='M24.9375 4.87498V8.81649M24.9375 12.758V8.81649M24.9375 8.81649H28.875H21' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}

.product-item__favor-btn.is-active {
    opacity: 1;
    pointer-events: all;
    background-color: transparent;
    box-shadow: none;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.8674 8.74495L15.7447 10.3481L16.6219 8.74498C17.0372 7.98607 17.7266 6.97557 18.7346 6.196L18.1228 5.40496L18.7346 6.196C19.7689 5.39604 20.9224 5 22.1875 5C25.723 5 28.4894 7.87909 28.4894 11.9201C28.4894 14.0514 27.6475 15.8868 26.0202 17.8504C24.3676 19.8445 21.9834 21.8806 18.9963 24.4262L18.9963 24.4262L18.9953 24.4271C18.0148 25.2626 16.9027 26.2104 15.7447 27.2218C14.5875 26.2111 13.4759 25.2638 12.4964 24.429L12.4937 24.4268L12.4937 24.4267C9.50626 21.8809 7.12189 19.8446 5.46922 17.8504C3.84189 15.8868 3 14.0514 3 11.9201C3 7.87909 5.7664 5 9.30187 5C10.567 5 11.7204 5.39604 12.7548 6.196L13.3666 5.40496L12.7548 6.196C13.7628 6.97558 14.4522 7.98604 14.8674 8.74495Z' fill='%23E51A1E' stroke='%23E51A1E' stroke-width='2'/%3E%3C/svg%3E");
}
.product-item__favor-btn.is-active {
    opacity: 1 !important;
 
}


.product-item__cover-carousel .type-carusel__btn:hover {
    transform: translateY(-50%) scale(1.1);
}

.product-item__cover-carousel .type-carusel__btn:active {
    transform: translateY(-50%) scale(.9);
}

.product-item:hover .product-item__add-btn {
    opacity: 1;
    pointer-events: all;
}

.catalog-list__clear-btn:hover .catalog-list__clear-btn-icon {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='32' height='31' viewBox='0 0 32 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0V15.1777M16 30.3553V15.1777M16 15.1777L31.1777 15.1777L0.82233 15.1777' stroke='%23E51A1E' stroke-width='3'/%3E%3C/svg%3E");
}

.catalog-list__products-items.--list-view {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem 0;
}

.product-item.--list-view {
    display: flex;
    flex-direction: row;
}

.product-item.--list-view .product-item__cover-carousel {
    border-radius: 1.5rem;
    height: 22.5rem;
    position: relative;
    overflow: hidden;
}

.product-item.--list-view .product-item__desc {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parameter-item__label {
    opacity: .6;
}

.parameter-item {
    padding-bottom: .625rem;
    border-bottom: 1px solid rgb(217 217 217 / 60%);
    padding-top: .625rem;
}

.parameter-item__value {
    font-weight: 600;
}

.parameter-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.parameter-item:first-child {
    padding-top: 0;
}

.product-item__parameters {
    grid-gap: 0 3rem;
}

.product-item.--list-view .product-item__new-tag {
    top: 3rem;
}

.product-item.--list-view .product-item__add-btn {
    opacity: 1;
    pointer-events: all;
    position: relative;
    bottom: inherit;
    right: inherit;
    height: 3.5rem;
    padding: 0 2rem 0 4.5rem;
    width: fit-content;
    border-radius: 3.75rem;
    background-size: 1.875rem auto;
    background-position: center left 2rem;
    font-weight: 600;
}

.product-item.--list-view .product-item__compare-btn, .product-item.--list-view .product-item__favor-btn {
    opacity: 1;
    pointer-events: all;
    position: relative;
    top: inherit;
    right: inherit;
}

.product-item.--list-view:hover {
    /* padding-right: 1.5rem; */
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.product-item.--list-view .product-item__price-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-item.--list-view .product-item__name {
    font-size: 2rem;
    line-height: 2.5rem;
}

.catalog-list__products-items .product-item__price-wrap {
    align-items: flex-start;
}

.product-item__close-btn {
    /* display: flex !important; */
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color__fill-1);
    z-index: 5;
    padding: 0;
    box-shadow: 0 .5rem 1.5rem rgb(229 26 30 / 8%);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L10 10M18 18L10 10M10 10L18 2M10 10L2 18' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-size: 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
}

.product-item__close-btn:hover {
    background-color: var(--color__fill-1-h);
}

.product-item__rating.flex {
    flex-wrap: nowrap;
}

.catalog-list__head {
    border-top: 1px solid rgb(217 217 217 / 70%);
}

.product-item__cover-carousel .swiper-slide {
    display: flex;
    height: 100% !important;
}

.product-item__cover-carousel .swiper-wrapper {
    height: 100% !important;
}

.product-item.--list-view:hover .product-item__cover-carousel {
    background-color: var(--color__fill-4);
}

.product-item.--list-view:hover .product-item__new-tag, .product-item.--list-view:hover .product-item__sales-tag {
    background-color: #fff;
}

.product-item.--list-view .product-item__info-wrap {
    width: fit-content;
}

.product-item.--list-view .product-item__demo-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.product-item.--list-view .product-item__credit-icon {
    width: 1.5rem;
    height: 1rem;
}

.product-item.--list-view .product-item__trade-icon.--svg__trade {
    width: 1.25rem;
    height: 1.25rem;
}

.product-item__add-btn.--green {
    background-color: #67C15E;
    color: white !important;
    font-weight: 600 !important;
}

.product-item.--used .product-item__cover-carousel {
    height: 23.625rem;
    border-radius: 1rem;
}

.product-item.--used .product-item__cover-img img {
    object-fit: cover;
    border-radius: 1rem;
}

.product-item.--used .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1 !important;
    background-color: #fff !important;
}

.product-item.--used .swiper-pagination-bullet {
    background-color: #fff !important;
    opacity: .2 !important;
}

.product-item.--used .product-item__sales-tag {
    height: 2rem;
    color: var(--color__fill-1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .75rem;
}

.product-item.--used:hover .product-item__sales-tag {
    background: #fff;
}

.product-item.--used .sale-item__map-btn {
    padding: 0;
}

.product-item.--used .sale-item__map-btn:hover .sale-item__map-btn-label {
    color: var(--color__dark);
}

.product-item.--used .sale-item__map-btn-icon {
    width: 1.25rem;
    height: 1.75rem;
}

.product-item.--used .sale-item__map-btn-label {
    font-weight: 700;
    flex: 1;
}



@media (max-width: 991px) {

    .product-item__compare-btn, .product-item__favor-btn, .product-item__add-btn {
        opacity: 1;
        pointer-events: all;
    }

    .product-item.--list-view .product-item__price {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .catalog-list__products-items {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product-item.--used .product-item__cover-carousel {
        height: auto;
    }

}

@media (max-width: 640px) {

    .catalog-list__filters-items {
        margin-right: 0 !important;
        gap: .25rem;
    }

    .catalog-list__head-wrap {
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
    }

    .catalog-list__filters {
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
    }

    .catalog-list__filters .filter-item {
        margin-right: 0;
    }

    .catalog-list__devider {
        display: none;
    }

    .catalog-list__tumblers {
        width: 100%;
        gap: 1rem;
        justify-content: space-between;
    }

    .content__title.h1.--search {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .content__head-title {
        gap: 1rem;
    }

    .content__post-title-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .catalog-list__products-items {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .product-item.--list-view {
        flex-direction: column;
    }

    .product-item.--list-view .product-item__cover-carousel {
        margin-right: 0 !important;
    }

    .product-item.--list-view .product-item__head {
        flex-direction: column;
        gap: 1.5rem;
    }

    .product-item.--list-view .product-item__services {
        gap: .25rem;
    }

    .product-item__price-wrap {
        width: 100%;
    }

    .product-item.--list-view .product-item__old-price {
        order: 1;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .product-item.--list-view .product-item__btns-wrap {
        width: 100%;
        justify-content: space-between;
    }

    .product-item.--list-view .product-item__parameters {
        grid-template-columns: 1fr;gap: .5rem;
    }

    .product-item.--list-view .parameters-items:last-child {
        border-top: 1px solid rgb(217 217 217 / 60%);
        padding-top: 0.625rem;
    }

    .product-item.--list-view .parameter-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-item__name {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .product-item__desc {
        padding: 0 1rem 1rem 1rem;
    }

    /* .products-carousel .swiper-slide, .products-carousel.--sale .swiper-slide {
        max-width: unset !important;
    } */
    
    .blog-item {
        max-width: 100% !important;
        margin: 0 !important;
    }
    .product-item {
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--color__border);
    }

    

}