.breadcrumbs__home.--svg__home {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgb(255 255 255 / 16%);
}

.breadcrumbs__item.--home, .breadcrumbs.--banner.--test-drive .breadcrumbs__item.--home, .breadcrumbs.--banner.--installment .breadcrumbs__item.--home {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgb(51 51 51 / 16%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease all .24s;
}

.breadcrumbs__item.--home .breadcrumbs__link, .breadcrumbs.--banner.--test-drive .breadcrumbs__link.--svg__home, .breadcrumbs.--banner.--installment .breadcrumbs__link.--svg__home {
    width: 100%;
    height: 100%;
    background-size: 1rem 1rem;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    opacity: 1 !important;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5702 6.95923C15.5698 6.95886 15.5695 6.9585 15.5691 6.95813L9.04171 0.431641C8.76348 0.15332 8.39357 0 8.0001 0C7.60663 0 7.23672 0.153198 6.95837 0.431519L0.434387 6.95471C0.432189 6.95691 0.429992 6.95923 0.427794 6.96143C-0.143553 7.53601 -0.142576 8.46826 0.430602 9.04138C0.69247 9.30334 1.03833 9.45508 1.40812 9.47095C1.42314 9.47241 1.43827 9.47314 1.45353 9.47314H1.71369V14.2762C1.71369 15.2267 2.48709 16 3.43787 16H5.99159C6.25041 16 6.46039 15.7902 6.46039 15.5312V11.7656C6.46039 11.3319 6.81321 10.9791 7.24697 10.9791H8.75323C9.18699 10.9791 9.53981 11.3319 9.53981 11.7656V15.5312C9.53981 15.7902 9.74967 16 10.0086 16H12.5623C13.5131 16 14.2865 15.2267 14.2865 14.2762V9.47314H14.5277C14.9211 9.47314 15.291 9.31995 15.5695 9.04163C16.1433 8.46753 16.1435 7.53369 15.5702 6.95923Z' fill='%23888888'/%3E%3C/svg%3E");
}

.breadcrumbs__devider {
    background-size: .375rem 0.875rem;
    width: .375rem !important;
    height: 0.875rem !important;
    top: inherit !important;
    background-color: transparent !important;
    position: initial !important;
    border-radius: 0 !important;
    margin: 0 .75rem !important;
}

.breadcrumbs__link {
    opacity: .6 !important;
    font-weight: 500 !important;
}

.breadcrumbs__active {
    opacity: 1;
    color: var(--color__text-3);
    font-weight: 400;
}

.breadcrumbs__item.--home:hover {
    background-color: rgb(51 51 51 / 10%);
}

.breadcrumbs {
    border-bottom: none;
    padding: 0;
    z-index: 5;
}

.breadcrumbs.--banner .breadcrumbs__item.--home {
    background-color: rgb(255 255 255 / 16%);
}

.breadcrumbs.--banner  .breadcrumbs__link.--svg__home {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5702 6.95923C15.5698 6.95886 15.5695 6.9585 15.5691 6.95813L9.04171 0.431641C8.76348 0.15332 8.39357 0 8.0001 0C7.60663 0 7.23672 0.153198 6.95837 0.431519L0.434387 6.95471C0.432189 6.95691 0.429992 6.95923 0.427794 6.96143C-0.143553 7.53601 -0.142576 8.46826 0.430602 9.04138C0.69247 9.30334 1.03833 9.45508 1.40812 9.47095C1.42314 9.47241 1.43827 9.47314 1.45353 9.47314H1.71369V14.2762C1.71369 15.2267 2.48709 16 3.43787 16H5.99159C6.25041 16 6.46039 15.7902 6.46039 15.5312V11.7656C6.46039 11.3319 6.81321 10.9791 7.24697 10.9791H8.75323C9.18699 10.9791 9.53981 11.3319 9.53981 11.7656V15.5312C9.53981 15.7902 9.74967 16 10.0086 16H12.5623C13.5131 16 14.2865 15.2267 14.2865 14.2762V9.47314H14.5277C14.9211 9.47314 15.291 9.31995 15.5695 9.04163C16.1433 8.46753 16.1435 7.53369 15.5702 6.95923Z' fill='white'/%3E%3C/svg%3E");
}

.breadcrumbs.--banner .breadcrumbs__devider.--svg__arrow-90 {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.5' d='M1 1L7.5 7.5L1 14' stroke='white'/%3E%3C/svg%3E");
}

.breadcrumbs.--banner .breadcrumbs__link {
    color: #fff;
    opacity: 1 !important;
}

.breadcrumbs.--banner .breadcrumbs__link:hover {
    color: var(--color__fill-1);
}

.breadcrumbs.--banner .breadcrumbs__item.--home:hover {
    background-color: rgb(255 255 255 / 30%);
}

.breadcrumbs.--banner .breadcrumbs__items {
    position: absolute;
    top: 1rem;
    left: 0;
}

.breadcrumbs.--banner {
    margin-top: 0 !important;
}

.breadcrumbs.--test-drive .breadcrumbs__active, .breadcrumbs.--installment .breadcrumbs__active {
    color: var(--color__dark) !important;
}

.breadcrumbs.--test-drive.--banner .breadcrumbs__devider, .breadcrumbs.--banner.--installment .breadcrumbs__devider {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='9' height='15' viewBox='0 0 9 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M1 1L7.5 7.5L1 14' stroke='%23333333'/%3E%3C/svg%3E");
}

.breadcrumbs.--banner .breadcrumbs__active {
    color: #fff;
}



@media (max-width: 991px) {

    .breadcrumbs.--banner .breadcrumbs__items {
        left: 2rem;
    }

}



@media (max-width: 640px) {

    .breadcrumbs {
        display: none;
    }

}